---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, Nanda Safiq Alfiansyah, a Backend developer from Indonesia.
      <br />
      <br />
      Here's a snapshot of the primary tools and technologies I work with:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Golang</li>
        <li>Python</li>
        <li>Php</li>
        <li>SQL</li>
      </ul>
    </p>
  </div>
</Card>
