---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About Me">
  <div class="flex flex-col gap-2 ">
    <p class="text-sm font-light mt-2">
      I focus on building efficient and scalable server-side applications using a variety of modern technologies.
    </p>
    <p class="text-sm font-light">
      Key technologies I work with include:
    </p>
    <ul class="list-inside list-disc text-sm font-light">
      <li><strong>JavaScript:</strong> Node.js for server-side development.</li>
      <li><strong>React:</strong> Front-end development and integration.</li>
      <li><strong>Golang:</strong> High-performance backend services.</li>
      <li><strong>Python:</strong> Scripting and data analysis.</li>
      <li><strong>PHP:</strong> Web development with frameworks like Laravel.</li>
      <li><strong>SQL:</strong> Database design and optimization.</li>
      <li><strong>NoSQL:</strong> Working with databases like MongoDB for flexible schema design.</li>
    </ul>
    <p class="text-sm font-light">
      I’m passionate about learning new technologies and working on impactful projects. Feel free to connect for collaboration opportunities!
    </p>
  </div>
</Card>
